<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="./assets/dist/img/user.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{nombre}}</a>
            </div>
        </div> -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" *ngFor="let item of menuPermitido">
                    <ul class="nav nav-treeview">
                        <li class="nav-item" *ngFor="let subMenu of item.submenu">
                            <a [routerLink]="subMenu.url" class="nav-link" style="cursor: pointer;">
                                <i class="{{subMenu.icono}}"></i>
                                <p class="ml-2">{{subMenu.titulo}}</p>
                            </a>

                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="logOut()">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p class="ml-2">
                            Salir
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>