@import '../../../../app/core/styles/global-styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #01010100;
  font-family: $fuente_principal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.navbar .links a:hover {
  //color: $azul;
  font-weight: bold;
}

.log-in {
  font-weight: bold;
  padding: 12px 22px;
  background-color: #0aa5ff7e;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #0aa5ff;
  transition: 0.2s;
}

.navbar li {
  list-style: none;
}

header {
  position: relative;
}

.navbar {
  height: 250px;
  background-repeat: no-repeat;
  background-position: left right;
  background-size: cover;
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.navbar .logo {
  width: 280px;
  margin-bottom: 15px;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex-wrap: wrap;
  gap: 32px;
}

.navbar .links a {
  font-weight: 500;
  color: #ffffff;
  padding: 8px 16px;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 3.5rem;
  cursor: pointer;
  display: none;
}

.log-in:hover {
  transform: scale(1.05);
  color: #fff;
  background-color: #0aa5ff;
}

.log-in:active {
  transform: scale(0.95);
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 100px;
  height: 0;
  width: 300px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1;
}

.dropdown_menu.open {
  height: 450px;
  top: 100px;
}

.dropdown_menu li {
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu li a {
  font-weight: 500;
  color: #ffffff;
}

.dropdown_menu .log-in {
  width: 50%;
  display: flex;
  justify-content: center;
}

.head-content-right {
  display: flex;
  align-items: center;

  .head-user-avatar-container {

    margin-right: 50px;

    .head-user-avatar {

      position: relative;

      .user-avatar {
        margin-bottom: -4px;
        width: 65px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgb(35 35 35 / 10%);
        cursor: pointer;
      }
    }

    .circle-indicator {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: -2px;
      right: -3px;
      background: #669dfa;

      &.pulse {
        animation: pulse-animation 1.2s infinite;
      }
    }
  }
}

@keyframes pulse-animation {

  0% {
    box-shadow: 0 0 0 0 rgba(26, 104, 206, 0.6);
  }

  100% {
    box-shadow: 0 0 0 13px rgba(17, 64, 126, 0);
  }
}

@keyframes fall {

  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.overlay {
  background: #fff;
  margin-top: 10px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  border-radius: 1.25rem;
}

.overlay-fall {
  animation: fall 300ms ease-in-out forwards;
  transform-origin: top-center;
}

.overlay-user {

  ul {
    padding: 0.5rem 0;
    list-style: none;
    width: 17rem;

    li {
      padding: 0.35rem 1.5rem;
      font-size: 16px;
      font-weight: 400;
      color: #495057;
      cursor: pointer;

      a {
        color: rgb(0, 0, 0);
      }

      .icon {
        margin-right: 0.6rem;
      }
    }

    li:hover {
      background: #eff2f3;
      font-weight: bold;
      border-radius: 1.25rem;
    }
  }
}

.modal .modal-dialog {

  width: 380px;
  transition: bottom .75s ease-in-out;

  .modal-content .modal-body .signin-form,
  .signup-form {
    .form-floating {

      input {
        height: 48px;
        font-size: 1.4rem;
        color: $negro
      }

      label {
        font-size: 1.2rem;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }
  }
}

span {
  font-size: 1.2rem;
  color: $negro;
}

.login-google {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1530px) {
  .navbar {
    .links {
      font-size: 1.4rem;
    }

    .logo {
      width: 200px;
    }
  }

  .log-in {
    font-size: 1.4rem;
    padding: 10px 20px;
    margin-top: 1.2rem;
  }
}

@media (max-width: 1320px) {
  .navbar {
    .links {
      font-size: 1.2rem;
    }

    .logo {
      width: 180px;
    }
  }

  .log-in {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin-top: 1.2rem;
  }
}

@media (max-width: 1180px) {

  .navbar .links,
  .navbar .log-in,
  .navbar .head-content-right {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .dropdown_menu li a:hover {
    font-weight: bold;
  }

  .dropdown_menu .head-content-right .head-user-avatar-container {

    margin-right: 0%;

    .head-user-avatar .user-avatar {
      width: 55px;
    }
  }

  .overlay-user ul {
    width: 13rem;

    li {
      font-size: 12px;
    }
  }
}

@media (max-width: 750px) {

  .dropdown_menu.open {
    height: 470px;
    top: 100px;
  }

  .dropdown_menu {

    li {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 580px) {

  .modal {

    margin-left: 20%;

    .modal-dialog {

      width: 340px;
      transition: bottom .75s ease-in-out;
    }
  }
}

@media (max-width: 520px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .log-in {
    color: #010101;
  }

  .modal {
    margin-left: 9%;

    .modal-dialog {

      width: 300px;
      transition: bottom .75s ease-in-out;

      .modal-content .modal-body .signin-form,
      .signup-form .form-floating input {
        font-size: 1.3rem;
      }

      label {
        font-size: 1.1rem;
      }
    }

    span {
      font-size: 1rem;
      color: $negro;
    }
  }
}