@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

// Fuentes
//$fuente_principal: 'Lora', serif;
$fuente_principal: 'Lora', italic;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 1000px;
$desktop: 1024px;

// Colores
$negro: #030405;
$amarillo: #FFCE37;
$verde: #009A63;
$blanco: #FFFFFF;
$gris: #979695;
$grisOscuro: #333333;
$azul: #4272b7;
$tomate: #F7A85D;

// Colores Secundarios
$verde2: #00A899;
$tomate: #F7A85D;
$gris2: #979695;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;