@import '../../../../../core/styles/global-styles.scss';

body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}

.project-details {
    padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.1rem;
    }
}

.titulo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #444;
    font-size: 1.8rem;
}

.subtitulo {
    text-align: center;
    margin-bottom: 20px;
    color: #888;
    font-size: 1.1rem;
}

.details-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 30px;
    width: 70%;
}

.image-container {
    margin-top: 25px;
    max-height: 300px;
    /* Cambia 300px al valor que desees */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.details-column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        font-weight: bold;
    }
}

.titulodetalle {
    text-align: center;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.distanciaDetalle {
    padding: 20px;
    border-radius: 8px;
    background-color: #f2f2f2;
}

.distanciaDetalle p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.objetivos p {
    margin-bottom: 10px;
}

.objetivos ul {
    padding-left: 20px;
}

.map-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 30.25%;
    margin: 0 auto;
    padding-top: 50px;
}

.map-sections-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding: 10px;
}

.add-project-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.add-project-button:hover {
    background-color: #2980b9;
}

.map-section {
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 800px;
    margin-right: 20px;
}

.map-label {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #444;
}



.map-container {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 800px;
    /* Cambiado a min-width */
    height: 400px;
    /* Aumentado de 200px a 400px */
}

.text-container {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.section-header {
    margin-bottom: 20px;
    color: #333;
    font-size: 18px;
}

.activity-container {

    h4 {
        font-weight: bold;
    }
}

.activity-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 10px;
    transition: all 0.3s ease;
}

.activity-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0;
    font-size: 18px;
}

.activity-details {
    margin-left: 30px;
    padding: 10px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.map-sections-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.mapa {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.eliminarmapa-button {
    background-color: #ff4f4f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.eliminarmapa-button:hover {
    background-color: #ff2f2f;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.25);
}

.eliminarmapa-button i {
    margin-right: 8px;
}