@import '../../../../../core/styles/global-styles';
@import '../../../../../core/styles/mixins';

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $fuente_principal;
  font-size: 1.6rem;
  line-height: 1.8;
}

p {
  color: $negro;
  font-size: 2rem;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: calc($separacion / 2);
  margin-bottom: calc($separacion / 2);
}

.nosotros {

  h2 {
    font-size: 3.1rem;
    font-weight: bolder;
  }

  .about-us {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .mision,
    .vision,
    .nosotros {

      flex: 1;
      padding: 20px;
      border-radius: 1rem;
      box-shadow: 0 2px 4px #009A63;
      margin: 10px;

      h3 {
        font-size: 2.5rem;
        font-weight: 300;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .about-us {
    flex-direction: column;
    align-items: center;
  }

  .mision,
  .vision,
  .nosotros {
    width: 100%;
    min-width: auto;

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}



a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: $fuente_principal;
  margin: calc($separacion / 2) 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

.contenido-centrado {
  max-width: 80rem;
}

.alinear-derecha {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

.boton-amarillo {
  @include boton($grisOscuro, inline-block);
}

.boton-amarillo-block {
  @include boton($grisOscuro, block);
}

.boton-verde {
  @include boton($verde, inline-block);
}

.sabias {
  background-color: $verde;
  font-size: 2.4rem;
  padding: 1rem;
  color: $blanco;
  border-radius: 2rem;

  blockquote {
    padding-left: 5rem;
    position: relative;

    &::before {
      content: '';
      background-image: url("../../../../../../assets/img/comilla.svg");
      background-repeat: no-repeat;
      width: 4rem;
      height: 6rem;
      display: block;
      position: absolute;
      left: -2%;
    }
  }

  p {
    text-align: right;
    color: $blanco;
  }

  h3 {
    font-weight: $bold;
    margin: 0;
  }

}

@include tablet {
  .contenedor-proyectosmarcha {
    @include grid(3, 2rem);
  }
}

.proyectomarcha {
  background-color: lighten($color: $gris, $amount: 5);
  border: 1px solid darken($color: $gris, $amount: 10);
  margin-top: 2rem;

  .contenido-proyecto {
    padding: 2rem;
  }

  h3,
  p {
    margin: 0;
  }
}

.inversion {
  color: $verde;
  font-weight: $bold;
  font-size: 3rem;
}

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 40rem;

  li {
    flex: 1;
    display: flex;

    img {
      flex: 0 0 3rem;
      margin-right: 1rem;
    }

    p {
      font-weight: $black;
    }
  }
}

.negrita {
  font-weight: bold;
}

.btn::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.btn:hover::before {
  width: 9em;
}



.formulario {
  margin: 4rem auto;
  max-width: 70rem;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 70);
  background-color: rgb(248, 244, 244, 1);
  h1{
    font-size: 2.5rem;
    color: $negro;
  }
  //usado para animacion
  opacity: 0;
  transition: .3s ease;
  transform: scale(0.7);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 800;
  color: $negro;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid $gris;
  border-radius: 1rem;
}

textarea{
  overflow-y: hidden;
  resize: none;
  min-height: 5rem;
  white-space: pre-line;
}

.overlay{
  color: $blanco;
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  inset: 0;
  visibility: hidden;
  overflow-y: scroll;
  img{
    padding: 2rem;
  }
  input[type="file"]{
    color: $negro;
    margin-bottom: 2rem;
  }
}

.overlay.active{
  visibility: visible;
}

.header-form a:hover{
  color: $negro;
}

//animacion
form.active{
  opacity: 1;
  transform: scale(1);
}

.botones-form-blog{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titulo{
  margin: 4rem 2rem;
  h2{
    font-size: 6rem;
    font-weight: $delgada;
    margin-bottom: 3rem;
  }
  span{
    text-transform: uppercase;
    font-weight: $black;
  }
 
} 
.texto-invisible {
  display: none;
}

input[type="submit"] {
  position: relative;
  background-color: $azul;
  width: 20rem;
  color: $blanco;
  font-weight: $bold;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  box-shadow: 0 5px 6px $gris;
  transition: .4s;
  margin: 2rem;
}

input[type="submit"]:hover {
  transform: scale(1.05);

}

.tarjeta {
  width: 300px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: top;
}

/* Estilos para la imagen de perfil */
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Estilos para el nombre */
.nombre {
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para el título */
.titulo {
  font-size: 18px;
  color: #333;
}

/* Estilos para la información de contacto */
.contacto {
  margin-top: 10px;
}

/* Estilos para los iconos de contacto */
.icono {
  font-size: 20px;
  margin-right: 10px;
  color: #007bff;
}

.centered-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
}



// FOR EDIT INFO ABOUT BINARA




