<div class="container">

    <!-- ABOUT US -->
    <!-- <div class="card" style="width: 18rem;">
        <img src="https://www.diariosostenible.cl/files/623cbc6d800b6_890x533.jpg" alt="Preview" title="Preview" />
        <div class="card-body">
            <p class="card-text">{{ aboutUs.texto1 }}</p>
        </div>
    </div> -->

    <div class="nosotros">
        
        <div class="centered-container">
            <h2 class="inline-block">QUE HACEMOS</h2> 
            <br>
            <button *ngIf="storageServ.getRole() === 'ADMIN_ROLE'" class="edit-button" title="Editar" (click)="openDialog()">
               ✎
            </button>
          </div>

        <div class="container about-us">
            <div class="mision">
                <h3>MISIÓN</h3>
                <p> {{ mission.texto1 }} </p>
            </div>
            <div class="vision">
                <h3>VISIÓN</h3>
                <p> {{ vision.texto1 }} </p>
            </div>
            <div class="nosotros">
                <h3>SOBRE NOSOTROS</h3>
                <p> {{ aboutUs.texto1 }} </p>
            </div>
        </div>
    </div>



    <div class="Equipo">
        <h3>Nuestro Equipo de Trabajo</h3>
    </div>

    <div class="titulo" *ngIf="storageServ.getRole() === 'ADMIN_ROLE'">
        <input id="btn-abrir-popup" type="submit" value="Nuevo Colaborador" (click)="getForm()">
    </div>

    <div class="tarjeta" *ngFor="let t of colaborators">
        <figure>
            <img [src]="baseUrl + '/imagen/parametro/' +t.imagen" alt="Preview" title="Preview" />
        </figure>
        <div class="nombre">{{t.texto1}}</div>
        <div class="titulo">{{t.texto2}}</div>
        <input *ngIf="storageServ.getRole() === 'ADMIN_ROLE'" id="btn-abrir-popup2" type="submit" value="Modificar" (click)="getForm()">
    </div>



    <div class="overlay" id="overlay">
        <form (ngSubmit)="Guardar()" class="formulario" id="popup" method="post">
            <div class="header-form">
                <h1>Nuevo Colaborador</h1>
                <a id="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            </div>

            <label for="titulo">Nombre:</label>
            <input type="text" id="llave" name="llave" placeholder="Título del blog" [(ngModel)]="parametro.texto1"
                required>

            <label for="titulo">Imagen:</label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
            <img [src]="imageSrc" *ngIf="imageSrc" alt="imageUpload">

            <label for="parrafo1-blog">Funcion:</label>
            <textarea class="textarea-auto" id="parrafo1-blog" name="parrafo1-blog"
                placeholder="Escriba el contenido del Blog" [(ngModel)]="parametro.texto2" required></textarea>


            <div class="botones-form-blog">
                <input id="btn-cerrar-popup" type="submit" value="Cerrar" (click)="onClose()">
                <input type="submit" value="Guardar">
            </div>
        </form>
    </div>


    <div class="overlay" id="overlay2">
        <form (ngSubmit)="Guardar()" class="formulario" id="popup2" method="post">
            <div class="header-form">
                <h1>Modificar colaborador</h1>
                <a id="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            </div>

            <label for="titulo">Nombre:</label>
            <input type="text" id="llave" name="llave" placeholder="Título del blog" [(ngModel)]="parametro.llave"
                required>

            <label for="titulo">Imagen:</label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
            <img [src]="imageSrc" *ngIf="imageSrc" alt="imageUpload">

            <label for="e-mail">Email:</label>
            <input type="email" id="e-mail" name="e-mail" placeholder="Email " [(ngModel)]="parametro.texto1" required>

            <label for="parrafo1-blog">Funcion:</label>
            <textarea class="textarea-auto" id="parrafo1-blog" name="parrafo1-blog"
                placeholder="Escriba el contenido del Blog" [(ngModel)]="parametro.texto2" required></textarea>

            <label> estado</label>
            <div>
                //un boton que cambie de activo a inactivo?
                <button></button>
            </div>
            <!-- <select class="form-select" name="disponibilidad"[(ngModel)]="parametrosP.visible" 
                                required>
                                <option value="" selected disabled
                                   >Seleccione
                                </option>
                                <option value="true">Disponible</option>
                                <option value="false">No Disponible</option>
                            </select> -->
            <div class="botones-form-blog">
                <input id="publicar" type="submit" value="Cerrar">
                <input type="submit" value="Guardar">
            </div>
        </form>
    </div>

    <!-- SABIAS -->
    <div class="sabias container">
        <h3>Sabías que...?</h3>
        <div class="sabias">
            <blockquote>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi dicta reiciendis maxime maiores
                officia enim
                at dolores praesentium voluptatum. consectetur, adipisicing elit. Quasi dicta reiciendis maxime maiores
                officia enim
                at dolores praesentium voluptatum. </blockquote>
            <p>- Autor desconocido</p>
        </div>
    </div>

</div>