@import '../../../../core/styles/global-styles.scss';

body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
}

.contact-us {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);

    .contact-container .contact-header {

        margin: 60px auto 40px auto;

        h1 {
            text-align: center;
            font-size: 3.8rem;
            font-weight: bold;
        }
    }
}

.contact-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    .direccion,
    .background {
        list-style: none;
        margin: 23px auto;

        h2 {
            font-size: 2.1rem;
        }
    }

    .direccion .elements {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .background {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        li {
            width: 40px;
            height: 40px;
            border-radius: 8px;
            display: grid;
            place-items: center;
            background-color: $tomate;
            cursor: pointer;
            border: 1px solid $negro;
        }

        li:hover {
            background-color: $amarillo;
        }

    }

    .contact-info {
        h2 {
            font-size: 2.1rem;
            font-weight: bold;
            margin-bottom: 40px;
        }
    }

    .form-contact {

        h2 {
            font-size: 2.1rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .contact-us-form {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .form-group {

                display: flex;
                flex-direction: column;
                gap: 8px;

                label {
                    font-weight: bold;
                }

                input {
                    font-size: 1.4rem;
                    width: 100%;
                    height: 40px;
                }

                textarea {
                    font-size: 1.4rem;
                    resize: none;
                    height: 100px;
                }
            }

            .form-send {
                display: flex;
                justify-content: center;

                .btn {
                    background-color: $tomate;
                    border: 1px solid $gris;
                    font-size: 1.9rem;
                    margin-top: 10px;
                    margin-bottom: 40px;
                }

                .btn:hover {
                    background-color: $amarillo;
                }
            }
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

@media (max-width: 700px) {

    .form-contact {
        margin-top: 60px;
    }

    .contact-body {
        display: block;
    }
}