<div class="form-container1">
    <button class="close-button" (click)="onClose()">X</button>
    <h2 class="centrar">{{ edit ? 'Edición de Actividad' : 'Registro de Actividad' }}</h2>
    <hr>
    <form>
        <div class="form-group">
            <label class="label1" for="projectName">Título de la actividad</label>
            <input type="text" id="Title" name="Title" required [(ngModel)]="titulo">
        </div>
        <div class="form-group">
            <label class="label1" for="projectName">Descripción</label>
            <textarea class="textarea1" id="Descripcion" name="Descripcion" required
                [(ngModel)]="descripcion"></textarea>
        </div>

        <div class="form-group">
            <label for="projectName">Número de área</label>
            <input type="text" id="num_areas" name="num_areas" required [(ngModel)]="num_areas"
                (input)="Solonumero($event)">
        </div>
        <div class="form-group">
            <label for="projectName">Número de personas beneficiarias</label>
            <input type="text" id="num_personas_beneficiarias" name="num_personas_beneficiarias" required
                [(ngModel)]="num_personas_beneficiarias" (input)="Solonumero($event)">
        </div>
        <div class="form-group">
            <label for="projectName">Número de mujeres beneficiarias</label>
            <input type="text" id="num_mujeres_beneficiarias" name="num_mujeres_beneficiarias" required
                [(ngModel)]="num_mujeres_beneficiarias" (input)="Solonumero($event)">
        </div>
        <div class="form-group">
            <label for="projectName">Número de niños y niñas beneficiarias</label>
            <input type="text" id="num_ninos_ninas_beneficiarias" name="num_ninos_ninas_beneficiarias" required
                [(ngModel)]="num_ninos_ninas_beneficiarias" (input)="Solonumero($event)">
        </div>
        <div class="form-group">
            <label for="projectName">Número de adolescentes beneficiarias</label>
            <input type="text" id="num_adolescentes_beneficiarios" name="num_adolescentes_beneficiarios" required
                [(ngModel)]="num_adolescentes_beneficiarios" (input)="Solonumero($event)">
        </div>
        <div class="form-group">
            <label for="projectName">Número de adultos beneficiarios</label>
            <input type="text" id="num_adultos_beneficiarios" name="num_adultos_beneficiarios" required
                [(ngModel)]="num_adultos_beneficiarios" (input)="Solonumero($event)">
        </div>
        <div class="form-group">
            <label for="projectName">Mapa</label>
        </div>
        <div class="map-wrapper">
            <input id="search" class="search-location" type="text" placeholder="Buscar ubicación...">
            <div #mapContainer class="map-container"></div>
            <div class="coordinates-display">Coordenadas Seleccionadas: {{ lat }} , {{ lng }}</div>
        </div>

        <div class="location-info">
            <div>
                Provincia: <input type="text" [value]="provincia" readonly>
            </div>
            <div>
                Cantón: <input type="text" [value]="canton" readonly>
            </div>
            <div>
                Parroquia: <input type="text" [value]="parroquia" readonly>
            </div>
        </div>
        <br>
        <div class="button-container">
            <button class="submit-button cancelar" (click)="onClose()">Cancelar</button>
            <button class="submit-button" (click)="GuardarMapa()" type="submit">
                {{ edit ? 'Editar Actividad' : 'Registrar Actividad' }}
            </button>
        </div>
    </form>

</div>