<footer>
    <section class="footer-top-wrapper">
        <img class="logo" src="assets/img/logo_footer.png" title='Fundacion Binara' alt='Logo' />
        <section class='footer-top'>
            <h2>{{'Social' | translate | async}}</h2>
            <div class="backgroud">
                <ul class="social-media-buttons">
                    <li>
                        <a href="https://www.facebook.com/fundacionbinara/" title="Facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="currentColor" viewBox="0 0 16 16" fill="none" stroke="#000000" stroke-width="1"
                                stroke-Linecap="round" stroke-linejoin="round">
                                <path
                                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#instagram" title="Instagram">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#twiter" title="Twitter">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="#000000" stroke-width="2" stroke-Linecap="round"
                                stroke-linejoin="round">
                                <path
                                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.54.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                </path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <menu>
                <h2>{{'Contacto' | translate | async}}</h2>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <a> Luis Pasteur 2-30 y Copérnico.<br>Cuenca, Ecuador</a>
                </li>

                <li>
                    <i class='bx bx-envelope'></i>
                    <a class="custom-link" href="mailto:info@binara.org"> info@binara.org</a>
                </li>

                <li>
                    <i class='bx bx-phone bx-tada'></i>
                    <a class="custom-link" href="tel:(593)52526146"> (593) 987959379</a>
                </li>
            </menu>
        </section>
        <section>
            <menu>
                <h2>{{'Accciones' | translate | async}}</h2>
                <li>
                    <a>{{'Contáctanos' | translate | async}}</a>
                </li>
                <li>
                    <a>{{'Suscríbete' | translate | async}}</a>
                </li>
                <li>
                    <a>{{'Donaciones' | translate | async}}</a>
                </li>
            </menu>
        </section>
        <section>
            <menu>
                <h2>{{'Menu Rapido' | translate | async}}</h2>
                <li>
                    <a (click)="goToBlogs();">{{'Blog' | translate | async}}</a>
                </li>
                <li>
                    <a>{{'Sobre Nosotros' | translate | async}}</a>
                </li>
                <li>
                    <a (click)="goToContact()">{{'Contacto' | translate | async}}</a>
                </li>
            </menu>
        </section>
        <section>
            <!-- <div class="menu">
                <div class="menu-language">
                    <button class="menu-language-btn ripple" [cdkMenuTriggerFor]="LanguageOverlay">
                        <img [src]="'assets/flags/' + selectedLanguage.flag + '.png'" alt="flag" class="flag">
                    </button>
                </div>
            </div> -->

            <mat-form-field class="menu" appearance="fill">
                <mat-label>{{'IDIOMA' | translate | async}}</mat-label>
                <mat-select [(ngModel)]="translator.lang" name="language" (selectionChange)="onChange()">
                    <mat-option *ngFor="let language of languages" [value]="language.flag">
                        <img [src]="'assets/flags/' + language.flag + '.png'" alt="flag"
                            style="height: 12px; margin-right: 0.6rem">
                        <span>{{language.language | translate | async}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </section>
    <section class="footer-bottom">
        <small>{{'©2023 Fundación Binara. Todos los derechos reservados. ' | translate | async}}</small>
    </section>
</footer>

<!-- <ng-template #LanguageOverlay>
    <div class="overlay overlay-language overlay-fall" cdkMenu>
        <ul>
            <li *ngFor="let lang of languages" [value]="lang.flag" cdkMenuItem>
                <img [src]="'assets/flags/' + lang.flag + '.png'" alt="flag">
                <span (click)="onChange()">{{lang.language}}</span>
            </li>
        </ul>
    </div>
</ng-template> -->